<%= form_with model: funder do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% funder.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :website %><br>
    <%= form.text_area :website %>
    <% funder.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :logo_address %><br>
    <%= form.text_area :logo_address %>
    <% funder.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
